@import "variables";
@import "mixins";

html {
    font-family: $font-family-titilium-web;
    box-sizing: border-box;
}

.my-93vh {
    height: 93vh;
}

.header-top {
    background-color: $color-primary-dark;
    height: 7vh;
}

.header-top__nav {
    height: 7vh;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top__brand {
    
    color: #fff;
    font-size: 16px;
    @include breakpoints(sm) {
        font-size: 22px;
    }    
}

.header-top__form {
    display: flex;
    flex-wrap: nowrap;
}

.header-top__btn--search {
    background-color: #fff;
    height: 30px;
    border-color :internal-light-dark;
    border-width: 1px;
    border: none;
    // border-top-right-radius: 10px;
    // border-bottom-right-radius: 10px;
}

.header-top__text-input--search {
    color: $color-primary-dark;
    width: 160px;
    @include breakpoints(sm) {
        width: 200px;
    }    
    padding-left:  10px;
    height: 30px;
    border: none;
    // border-top-left-radius: 10px;
    // border-bottom-left-radius: 10px;
}

.main-section {
    display: flex;
}

.main-section__city-img-wrapper {
    @include breakpoints("xs") {
        height: 40vh;
    };
    @include breakpoints("sm") {
        height: 40vh;
    };
    @include breakpoints("lg") {
        height: 93vh;
    };    
}

.main-section__weather-short-info {
    padding-left: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.weather-short-info__temperature-wrapper {
    padding-bottom: 20px;
}

.main-section__weather-short-info .weather-short-info__text {
    color: #fff;
    padding-bottom: 20px;
}

.weather-short-info__temperature-symbol {
    color: #fff;
    font-size: 30px;
}

.weather-short-info__text--city-name {
    font-size: 22px;
}

.weather-short-info__text--current-time {
    font-size: 22px;
}

.weather-short-info__text--temperature {
    font-weight: bold;
    font-size: 30px;
}

.weather-short-info__text--desc {
    font-size: 20px;
}

.main-section__weather-icon-wrapper {
    padding-right: 20px;
    padding-top: 20px;
}

.main-section__weather-icon {
    width: 70px;
}



.main-section__weather-full-info {
   padding-top: 40px;
   padding-left: 40px;
   padding-right: 40px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
}

.current-weather__row {
    justify-content: center;
}

.current-weather__item {
    text-align: center;
}

.current-weather__item-row {
    justify-content: center;
    align-items: center;
}

.current-weather__data {
    display: flex;
    justify-content: center;
    padding: 18px;
    vertical-align: middle;
    // border-top: 1px solid #777;

}

.current-weather__item-icon {
    width: 30px;
}

.current-weather__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 60px;
    text-align: center;
}

.main-section__dayly-forecast {
    padding-top: 40px;
}

.daily-forecast__col {
    display: flex;
    justify-content: center;
}

.daily-forecast__title {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 60px;
    text-align: center;
}

.daily-forecast__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.daily-forecast__item-text {
    margin-bottom: 10px;
}

.daily-forecast__item-text--title {
    font-size: 15px;
}

.daily-forecast__item-icon {
    margin-bottom: 10px;
    width: 60px;
}

::-webkit-input-placeholder {
    color: #000;
    text-align: center;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
 }